*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: #ccc;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;

}
section, aside, article, header, footer{
    display: block;
}
.container{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, blue 0%, blue 30%, rgb(238, 237, 237) 30%, rgb(241, 239, 239) 100%);
    scroll-snap-align: center;
    transition: all .56s ease-in-out

}
.main{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    position: relative;
}
.row-1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.row-1 .logo{
    padding: 20px;
    border: 1px solid rgb(230, 224, 224);
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed
} 
.row-1 .logo i{
    color: white;
    font-size: 2.5rem;
    
}


.row-1 .contact-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: fixed;
    margin-top: 60vh;
    margin-right: 100px;
}
.row-1 .contact-info div{
    margin: 10px;
}
.row-1 .contact-info header{
    color: rgb(231, 224, 224);
    font-family: 'Poppins', sans-serif;
}
.row-1 .contact-info small{
    color: rgb(197, 190, 190);
    font-family: 'Noto Sans', sans-serif;
}
.social i{
    color: white;
    display: inline-block;
    margin: 6px;
}
.row-2{
    position: relative;
    height: 600px;
    margin-left: 250px;
    box-shadow: 3px 3px 10px blanchedalmond;

}
.port-image{
    position: relative;
    height: 500px;
    width: 450px;
}
.port-image img{
    height: 550px;
    width: auto;
    position: absolute
    
    
}
.row-3{
    height: 600px;
    position: relative;
}
.row-3 .description{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 500px;
    margin-top: 100px;
    margin-left: 50px;
    position: absolute;
    color: #333

}
.hamburger{
    margin-left: 800px;
}
input{
    color: white
}
.hamburger-menu{
    display: none;
}
.row-3 .description h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 2.2rem;
    text-transform: uppercase;
}
.row-3 .description span{
    font-family: 'Montserrat', sans-serif;
    color: blue;
    display: inline-block;
    margin-top: 5px;
    

}
.row-3 .description .line{
    background-color: rgb(37, 96, 206);
    height: 5px;
    width: 60px;
    border: none;
    position: absolute;
    margin-left: -100px;
    margin-top: -8px;
} 

.row-3 .description small{
    font-family: 'Sora', sans-serif;
    font-size: 1rem;
    display: inline-block;
    margin-bottom: 20px;
}
.row-3 .description p{
        font-family: 'Noto Sans', sans-serif;
        font-weight: 100;
        font-size: .9rem;
        line-height: 1.5rem;
        text-align: justify;
        
}

.row-3 .description button{
    display: inline-block;
    margin-top: 40px;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    

}
.row-3 .description button:nth-child(1){
    background:  rgb(37, 96, 206);
    margin-right: 20px;
    color: white
}
.row-3 .description button:nth-child(2){
    /* border: 1px solid black; */
}
.row-4{
    display: flex;
    justify-content:  flex-end;
    

}
.row-4 i{
    font-size: 2.0rem;
    position: fixed;

}

/* CONTACT SECTION */

.contact-form-row{
    position: absolute;
    height: 600px;
    box-shadow: 3px 3px 10px blanchedalmond;
    margin-left: 300px;
    background-color: #333
}
form{
    position: relative;
    height: 500px;
    width: 450px;
    padding: 20px

}
form input{
    background: none;
    outline: none;  
    border:none;
    border-bottom: 2px solid grey;
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    height: 50px;
    font-size: 1rem;
}
textarea{
    background: none;
    outline: none;  
    border:none;
    border-bottom: 2px solid grey;
    display: inline-block;
    margin-bottom: 30px;
    width: 100%;
    font-size: 16px;
    height: 200px;
    font-family: sans-serif;
    color: blanchedalmond;
}
.row-3 .contact{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 400px;
    margin-left: 550px;
    position: relative;
    
}

.row-3 .contact header{
    display: inline-block;
    margin-bottom: 20px;
}
.row-3 .contact article{
    padding: 20px;
    height: 150px;
    width: 300px;
    background: #f5f5f5;
    margin-left: 60px;
    margin: 30px;
    border-radius: 3px;
    color: #333;
    line-height: 1.2rem;
    box-shadow: 3px 3px 20px #ccc;

}
.row-3 .contact article h4{
    font-family: 'Lato', sans-serif;
    display: inline-block;
    margin-bottom: 20px

}
.row-3 .contact article small{
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.9rem
}
.container:nth-child(2), .container:nth-child(4){
    background: linear-gradient(to right, blue 0%, blue 30%, rgb(243, 239, 239) 30%, rgb(233, 226, 226) 100%);
}

.row-3 .contact header h1{
    color: #777;
    font-size: 1.5rem;
    font-family: 'Lato', sans-serif;
    display: inline-block;
    margin-bottom: 23px;
}

.row-3 .contact header p{
    color: #444;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem
}
.portfolio-main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 3rem;
    margin-left: 400px;
}
.row-p{
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
    transition: all .67s ease-in
}
.row-p img{
    height: 200px;
    width: auto;
}
.container:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

   
figcaption{
    text-align: center;
}


.services{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 3rem;
    margin-left: 400px;
}
.row-skills{
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #888;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    background-color: #f5f5f5;
    

}
.row-skills i{
    font-size: 4.5rem;
    display: inline-block;
    margin-bottom: 10px
}
.row-skills .fa-html5{
    color: #e44f25

}
.row-skills .fa-css3-alt{
    color: #0170bf

}
.row-skills .fa-js{
    color: rgb(236, 191, 41)

}
.container:nth-child(3) p{
    height: 30px;
    width: 500px;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    line-height: 2rem; 
    margin-left: 400px;
}
.container:nth-child(3) header h1{
    margin-left: 400px;
    margin-bottom: 50px;
    color: #333
}
.skills{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items:center; */
    margin-left: 80px
}
.my-name{
    display: none;
}
.main-name{
    
}
.skills h1{
    color: #333
}
.container:nth-child(2) header h1{
    color: #333
}
#porfolio h1{
    font-family: 'Montserrat', sans-serif
}

/* 

// STYLING FOR MOBILE
//
*/

@media only screen and (max-width: 500px){
    .container{
        display:grid;
        grid-template-columns: 1fr;
        background: linear-gradient(to right, rgb(211, 220, 226) 0%, #fff 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 100%);
        scroll-snap-align: center;
        height: fit-content;
    }
    .main{
        display: grid;
        grid-template-columns: 1fr;
    }
    .row-1{
        position: relative
    }
    .container:first-child .row-4{
        display: none
    }
    .container:nth-child(3){
        background: rgb(226,225,230);
        background: linear-gradient(90deg, rgb(195, 199, 199) 0%, rgb(238, 238, 243) 36%, rgb(206, 194, 194) 66%);
    }
    .row-1 .logo{
        padding: 20px;
        border: 1px solid rgb(33, 30, 224);
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -20px;

    } 
    .row-1 .logo i{
        color: rgb(33, 30, 224);
        font-size: 2.0rem;
        
    }
    .container .main .contact-info{
        display: none
    }
   
        .port-image{
            position: relative;
            height: 300px;
            width: 250px;
            margin-left: -2px;
            box-shadow: 3px 3px 10px rgb(228, 227, 226);
            margin-top: -20px
        }
        .port-image img{
            height: 280px;
            width: auto; 
            position: absolute 
        }
        .row-2{
            position: relative;
            height: 250px;
            margin: auto;
            
            margin-top: 100px;
           
        
        }   
        .hamburger-menu{
            display: block;
            position: fixed;
            margin-left: 400px;
            margin-top: 10px;
            background-color: #333;
            padding: 10px;
            border-radius: 50%
        } 
        .hamburger-menu i{
            font-size: 1.5rem;
            color: rgb(255, 255, 255)
        }   
        .row-3 .description{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            margin-left: -40px;
            margin-top: 30px;
            padding: 40px;
            width: 300px;
            overflow: hidden;
            color: #333;
            background: #f5f5f5;
            box-shadow: 4px 4px 10px rgb(211, 220, 226);;
            width: 400px;
            border-top-right-radius: 150px;
            margin-bottom: -100px;
            clip-path: polygon(x y, x y, x y, x y);
            transition: all 0.5s ease-in;

        
        }
        .my-name{
            display: inline-block;
            margin-bottom: 20px

        }
        .main-name{
            display: none
        }
        .row-3 .description h1{
            font-family: 'Poppins', sans-serif;
            font-weight: 800;
            font-size: 1.5rem;
            text-transform: uppercase;
        }
        .row-3 .description span{
            font-family: 'Montserrat', sans-serif;
            color: blue;
            display: inline-block;
            margin-top: 5px;
            
        }
        .row-3 .description .line{
            background-color: rgb(37, 96, 206);
            height: 5px;
            width: 60px;
            border: none;
            position: absolute;
            margin-top: -150px;
        } 
        
        .row-3 .description small{
            font-family: 'Sora', sans-serif;
            font-size: .8rem;
            display: inline-block;
            margin-bottom: 20px;
        }
        .row-3 .description p{
                font-family: 'Noto Sans', sans-serif;
                font-weight: 100;
                font-size: .79rem;
                line-height: 1.5rem;
                text-align: justify;
                transition: all .78s ease-in

                
        }
        
        .row-3 .description button{
            display: inline-block;
            margin-top: 40px;
            outline: none;
            border: none;
            padding: 10px 30px;
            border-radius: 30px;
            font-size: 1rem;
            font-family: 'Noto Sans', sans-serif;
            
        
        }
        .row-3 .description button:nth-child(1){
            background:  rgb(37, 96, 206);
            margin-right: 20px;
            color: white
        }
        .row-3 .description button:nth-child(2){
            background: transparent;
            border: 1px solid #555;
        }
        
        /* PORTFOLIO */
        .portfolio-main{
            display: grid;
            grid-template-columns:  1fr;
            grid-auto-rows: minmax(100px, auto);
            grid-gap: 3rem;
            margin-left: 400px;
            margin-top: 20px;
            margin-left: 12px;

            
            
        }
        
        .row-p{
            height: 250px;
            width: 250px;
            overflow: hidden;
            border-radius: 10px;
            box-shadow: 4px 4px 10px;
            margin-bottom: 30px;
        }
        .row-p img{
            height: 200px;
            width: auto;
        }
        .container:nth-child(2){
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(to right, #fff 0%, #fff 20%, rgb(255, 255, 255) 20%, rgb(255, 255, 255) 100%);
            overflow: scroll;
        }
        .container:nth-child(2) header h1{
            color: #333;
            font-family: 'Montserrat', sans-serif
        }
        
        figcaption{
            text-align: center;
        }

        /* SKILLS */
        .services{
            display: grid;
            grid-template-columns: 1fr;
            /* grid-auto-rows: minmax(100px, auto); */
            grid-gap: 1rem;
            margin-left: 10px;
            margin-top: 150px
        

        }
        .skills{
            display: grid;
            grid-template-columns: 1fr;

        }
        .row-skills{
            height: 250px;
            width: 250px;
            border-radius: 10px;
            box-shadow: 4px 4px 10px rgb(189, 180, 180);
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 12px;
            background-color: #f5f5f5;
            margin-bottom: 40px;
            transition: all 0.5s ease-in-out
            
            
            
        
        }
        .row-skills i{
            font-size: 4.5rem;
            display: inline-block;
            margin-bottom: 10px
        }
        .row-skills h1{
            color: #333
        }
        .row-skills .fa-html5{
            color: #e44f25
        
        }
        .row-skills .fa-css3-alt{
            color: #0170bf
        
        }
        .row-skills .fa-js{
            color: rgb(236, 191, 41)
        
        }
        .container:nth-child(3) p{
            height: 30px;
            width: 300px;
            color: rgb(58, 52, 52);
            font-family: 'Montserrat', sans-serif;
            line-height: 2rem; 
            margin-left: 5px
           
           
        }
        .container:nth-child(3) header h1{
            margin-top:10px;
            margin-left: 5px;
            margin-bottom: 50px;
            color: #333
        }
/* CONTACT SECTION STYLES */
        .container:nth-child(4){
            display: grid;
            grid-template-columns: 1fr;
            background-color: #f5f5f5
        }

        .container:nth-child(4) .contact-form-row{
            margin-left: 30px;
            margin-top: 800px;

        }
        form{
            width: 300px;
           
        }
        .row-3 .contact{
            margin-left: -10px;
            background: #f5f5f5;
            padding: 20px
        }

      
    
        
        
}